
biblioteca/biblioteca/bin/Debug/biblioteca.exe
biblioteca/biblioteca/bin/Debug/biblioteca.pdb
biblioteca/biblioteca/obj/Debug/biblioteca.csprojResolveAssemblyReference.cache
biblioteca/biblioteca/obj/Debug/biblioteca.exe
biblioteca/biblioteca/obj/Debug/biblioteca.pdb